  <div><%= f.label :nombres %>
  <%= f.text_field :nombres %></div>

  <div><%= f.label :apellidos %>
  <%= f.text_field :apellidos %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Password" %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirmar Password" %>
  <%= f.password_field :password_confirmation%></div>

