<h1>Listado de Localidades</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Región</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @localidades.each do |localidad| %>
  <tr>
    <td><%= localidad.nombre %></td>
    <td><%= localidad.region_id %></td>
    <td><%= link_to 'Ver', localidad, :class => "btn btn-success btn-mini" %></td>
    <td><%= link_to 'Editar', edit_localidad_path(localidad), :class => "btn btn-info btn-mini" %></td> 
    <td><%= link_to 'Eliminar', localidad, method: :delete, data: { confirm: 'Seguro desea eliminar?' }, :class => "btn btn-danger btn-mini" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Localidad', new_localidad_path, :class => "btn btn-success" %>
