<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @localidad.nombre %>
</p>

<p>
  <b>Región:</b>
  <%= @localidad.region_id %>
</p>


<%= link_to 'Editar', edit_localidad_path(@localidad), :class => "btn btn-mini" %> |
<%= link_to 'Atrás', localidades_path, :class => "btn btn-mini" %>
