<%= form_for(@documento_anexo) do |f| %>
  <% if @documento_anexo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento_anexo.errors.count, "error") %> prohibited this documento_anexo from being saved:</h2>

      <ul>
      <% @documento_anexo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :anio %><br />
    <%= f.number_field :anio %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :tipo_documento_id %><br />
    <%= f.number_field :tipo_documento_id %>
  </div>
  <div class="field">
    <%= f.label :documento_id %><br />
    <%= f.number_field :documento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
