<h1>Listado de Usuarios</h1>

<table class="table table-striped">
  <tr>
    <th>email</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.nombres %></td>
    <td><%= user.apellidos %></td>
    <td><%= link_to 'Ver', user, :class => "btn btn-success btn-mini" %></td>
    <td><%= link_to 'Editar', edit_user_path(user), :class => "btn btn-info btn-mini" %></td>
    <td><%= link_to 'Eliminar', user, confirm: 'Seguro desea eliminar?', method: :delete, :class => "btn btn-danger btn-mini" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Usario', new_user_path, :class => "btn btn-success" %>
