<%= form_for(@delegacion_administrativa) do |f| %>
  <% if @delegacion_administrativa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delegacion_administrativa.errors.count, "error") %> prohibited this delegacion_administrativa from being saved:</h2>

      <ul>
      <% @delegacion_administrativa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :localidad_id %><br />
    <%= f.number_field :localidad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
