<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @delegacion_administrativa.nombre %>
</p>

<p>
  <b>Localidad:</b>
  <%= @delegacion_administrativa.localidad_id %>
</p>


<%= link_to 'Edit', edit_delegacion_administrativa_path(@delegacion_administrativa) %> |
<%= link_to 'Back', delegacion_administrativas_path %>
