<%= nested_form_for(@documento, multipart: true, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2>Han ocurrido errores que no permiten guardar el Documento </h2>

      <ul>
      <% @documento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
    <div class="row">
      <div class="span12">
        <span class="label label-info">1. Datos principales del Documento</span>  
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <b>Fecha Recepción: &nbsp;&nbsp;&nbsp;</b><%= f.datepicker :fecha_recepcion, :id => "datepicker", :style => "width:auto;" %>
      </div>
      <div class="span6">
        <b>Fecha Documento: &nbsp;&nbsp;&nbsp;</b><%= f.datepicker :fecha_documento, :id => "datepicker2" %>
      </div>
    </div>
-->

<style type="text/css">
.form-horizontal .control-label {
    margin-left: -30px;
}
.form-horizontal .controls{
    margin-right: 30px;
}
.select_tipo_documento{
  width: 150px;
}
h4,h6{
  margin: 0px;
  padding: 0px;
}
</style>

      <div class="row">
        <div class="span12">
            <span class="label label-info"><h4>1. Datos principales del Documento</h4></span>
        </div>
      </div><hr/>

      <div class="row">
        <div class="span6">
          <div class="control-group success">
            <label class="control-label"><strong>Fecha Recepción:</strong></label>
            <div class="controls">
              <%= f.datepicker :fecha_recepcion, :id => "datepicker", :style => "width:100%;" %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group success">
            <label class="control-label"><strong>Fecha Documento:</strong></label>
            <div class="controls">
              <%= f.datepicker :fecha_documento, :id => "datepicker2", :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Asunto:</strong></label>
            <div class="controls">
              <%= f.text_field :asunto, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Iniciado por:</strong></label>
            <div class="controls">
              <%= f.text_field :iniciado_por, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Tipo Documento:</strong></label>
            <div class="controls">
              <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="span4">
          <div class="control-group success">
            <label class="control-label"><strong>Número:</strong></label>
            <div class="controls">
              <%= f.text_field :nro_documento, :style => "width:100%;" %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="control-group success">
            <label class="control-label"><strong>Sigla:</strong></label>
            <div class="controls">
              <%= f.text_field :sigla, :style => "width:100%;" %>
            </div>
          </div>
        </div> 
        <div class="span4">
          <div class="control-group success">
            <label class="control-label"><strong>Año:</strong></label>
            <div class="controls">
              <%= f.text_field :anio, :style => "width:100%;" %>
            </div>
          </div>
        </div>           
      </div>

      <div class="row">
        <div class="span12">
            <span class="label label-default"><h4>Adjunto</h4></span>
        </div>
      </div><hr/>

      <%= f.fields_for :documento_anexo do |da|%>
      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Tipo Documento:</strong></label>
            <div class="controls">
              <%= da.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="span4">
          <div class="control-group success">
            <label class="control-label"><strong>Número:</strong></label>
            <div class="controls">
              <%= da.text_field :numero, :style => "width:100%;" %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="control-group success">
            <label class="control-label"><strong>Año:</strong></label>
            <div class="controls">
              <%= da.text_field :anio, :style => "width:100%;" %>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="control-group success">
            <label class="control-label"><strong>Sigla:</strong></label>
            <div class="controls">
              <%= da.text_field :sigla, :style => "width:100%;" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Observación:</strong></label>
            <div class="controls">
              <%= da.text_area :observacion, :rows => "3", :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>       
      <div class="row">
        <div class="span12" style="text-align: right;">
           <%= da.link_to_remove "ELIMINAR ADJUNTO", :class => "label label-important" %>
        </div>
      </div>         
      </div><hr/>
      <% end %>

      <div class="row">
        <div class="span12">
          <span><%= f.link_to_add "AGREGAR ADJUNTO", :documento_anexo, :class => "label label-success" %></span>
        </div>        
      </div></br>  

      <div class="row">
        <div class="span12">
            <span class="label label-info"><h4>2. Detalle del Documento</h4></span>
        </div>
      </div><hr/>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Procedencia:</strong></label>
            <div class="controls">
              <%= f.text_field :procedencia, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Localidad:</strong></label>
            <div class="controls">
              <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre, :prompt => true) %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Nombres y Apellidos:</strong></label>
            <div class="controls">
              <%= f.text_field :nombres_y_apellidos, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row">
        <div class="span12">
            <span class="label label-info"><h4>3. Datos de Salida del Documento</h4></span>
        </div>
      </div><hr/>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Destinatario:</strong></label>
            <div class="controls">
              <%= f.text_field :destinatario, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Autorizado:</strong></label>
            <div class="controls">
              <%= f.check_box :autorizado %>
            </div>
          </div>
        </div>        
      </div>

       <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Número de Salida:</strong></label>
            <div class="controls">
              <%= f.text_field :nro_salida, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Se encuentra en:</strong></label>
            <div class="controls">
              <%= f.text_field :se_encuentra_en, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

       <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>A los efectos de:</strong></label>
            <div class="controls">
              <%= f.text_field :motivo, :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>

      <div class="row"> 
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Observación:</strong></label>
            <div class="controls">
              <%= f.text_area :observacion, :rows => "3", :style => "width:100%;" %>
            </div>
          </div>
        </div>        
      </div>
    
    
  
  <div class="actions">
    <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
  </div>

<% end %>


<% @listado_de_datepickers = ['datepicker', 'datepicker2'] %>

<% @listado_de_datepickers.each do |l| %>

    <script type="text/javascript">
        
          $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
          dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
          changeYear: true,
          yearRange: "1910:<%= Date.today.year + 10 %>", 
          monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          navigationAsDateFormat: true,
          nextText: "Sig", 
          prevText: "Ant", 
          showAnim: "explode"
            });

    </script>

<% end %>




















