<%= form_for(@documento) do |f| %>
  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
      <% @documento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tr>
      <td>
        <span class="label label-info">1. Datos principales del Documento</span>
      </td>
    </tr>
    <tr>
      <td>
        <b>Fecha Recepción: &nbsp;&nbsp;&nbsp;</b><%= f.datepicker :fecha_recepcion, :id => "datepicker" %>
      </td>
      <td>
        <b>Fecha Documento: &nbsp;&nbsp;&nbsp;</b><%= f.datepicker :fecha_documento, :id => "datepicker2" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <b>Asunto: &nbsp;&nbsp;&nbsp;</b><%= f.text_field :asunto, :class => "span11" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <b>Iniciado por: &nbsp;&nbsp;&nbsp;</b><%= f.number_field :iniciado_por, :class => "span10" %>
      </td>
    </tr>
  </table>

  <div class="field">
    <%= f.label :nro_documento %><br />
    <%= f.text_field :nro_documento %>
  </div>
  <div class="field">
    <%= f.label :nro_salida %><br />
    <%= f.text_field :nro_salida %>
  </div>
  <div class="field">
    <%= f.label :asunto %><br />
    <%= f.text_field :asunto %>
  </div>
  <div class="field">
    <%= f.label :autorizado %><br />
    <%= f.check_box :autorizado %>
  </div>
  <div class="field">
    <%= f.label :observacion %><br />
    <%= f.text_area :observacion %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :anio %><br />
    <%= f.number_field :anio %>
  </div>
  <div class="field">
    <%= f.label :fecha_recepcion %><br />
    <%= f.date_select :fecha_recepcion %>
  </div>
  <div class="field">
    <%= f.label :fecha_documento %><br />
    <%= f.date_select :fecha_documento %>
  </div>
  <div class="field">
    <%= f.label :fecha_salida %><br />
    <%= f.date_select :fecha_salida %>
  </div>
  <div class="field">
    <%= f.label :tipo_documento_id %><br />
    <%= f.number_field :tipo_documento_id %>
  </div>
  <div class="field">
    <%= f.label :procedencia %><br />
    <%= f.number_field :procedencia %>
  </div>
  <div class="field">
    <%= f.label :nombres_y_apellidos %><br />
    <%= f.text_field :nombres_y_apellidos %>
  </div>
  <div class="field">
    <%= f.label :motivo %><br />
    <%= f.text_field :motivo %>
  </div>
  <div class="field">
    <%= f.label :destinatario %><br />
    <%= f.number_field :destinatario %>
  </div>
  <div class="field">
    <%= f.label :iniciado_por %><br />
    <%= f.number_field :iniciado_por %>
  </div>
  <div class="field">
    <%= f.label :se_encuentra_en %><br />
    <%= f.number_field :se_encuentra_en %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% @listado_de_datepickers = ['datepicker', 'datepicker2'] %>

<% @listado_de_datepickers.each do |l| %>

    <script type="text/javascript">
        
          $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
          dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
          changeYear: true,
          yearRange: "1910:<%= Date.today.year + 10 %>", 
          monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          navigationAsDateFormat: true,
          nextText: "Sig", 
          prevText: "Ant", 
          showAnim: "explode"
            });

    </script>

<% end %>