<%= form_for(@documento, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
      <% @documento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table table-bordered">
    <tr class="info">
      <td colspan="4">
        <span class="label label-info">1. Datos principales del Documento</span>
      </td>
    </tr>
    <tr class="info">
      <td colspan="2">
        <b>Fecha Recepción: &nbsp;&nbsp;&nbsp;</b><%= f.datepicker :fecha_recepcion, :id => "datepicker" %>
      </td>
      <td colspan="2">
        <b>Fecha Documento: &nbsp;&nbsp;&nbsp;</b><%= f.datepicker :fecha_documento, :id => "datepicker2" %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>Asunto: </b>
      </td>
      <td colspan="3">
        <%= f.text_field :asunto, :class => "span9" %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>Iniciado por: </b>
      </td>
      <td colspan="3">
        <%= f.text_field :iniciado_por, :class => "span9" %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="2">
        <b>Tipo Documento: </b>
      </td>
      <td colspan="1">
        <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
      </td>
      <td>
        <div class="row">
          <div class="span6">
            <b>Número: &nbsp;&nbsp;&nbsp;</b><%= f.text_field :nro_documento, :class => "span1" %>&nbsp;&nbsp;&nbsp;
            <b>Sigla: &nbsp;&nbsp;&nbsp;</b><%= f.text_field :sigla, :class => "span1" %>&nbsp;&nbsp;&nbsp;
            <b>Año: &nbsp;&nbsp;&nbsp;</b><%= f.number_field :anio, :class => "span1" %>&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </td>
    </tr>
    <tr class="info">
      <td colspan="4">
        <b>ANEXO ver como lo hacemos</b>
      </td>
    </tr>
    <tr class="info">
      <td colspan="4">
        <span class="label label-info">2. Detalle del Documento</span>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>Procedencia: </b>
      </td>
      <td colspan="3">
        <%= f.collection_select(:tipo_documento_id, TipoDocumento.all, :id, :nombre) %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>Localidad: </b>
      </td>
      <td colspan="3">
        <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>Nombres y Apellidos: </b>
      </td>
      <td colspan="3">
        <%= f.text_field :nombres_y_apellidos %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="4">
        <span class="label label-info">3. Datos de Salida del Documento</span>
      </td>
    </tr>
    <tr class="info">
      <td colspan="4">
        <b>Destinatario: </b><%= f.text_field :destinatario %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="4">
        <b>Autorizado: </b><%= f.check_box :autorizado %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>Número de Salida: </b>
      </td>
      <td colspan="3">
        <%= f.text_field :nro_salida %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>Se encuentra en: </b>
      </td>
      <td colspan="3">
        <%= f.number_field :se_encuentra_en %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="1" class="span1">
        <b>A los efectos de: </b>
      </td>
      <td colspan="3">
        <%= f.text_field :motivo %>
      </td>
    </tr>
    <tr class="info">
      <td colspan="4">
        <b>Observación: </b><%= f.text_area :observacion %>
      </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% @listado_de_datepickers = ['datepicker', 'datepicker2'] %>

<% @listado_de_datepickers.each do |l| %>

    <script type="text/javascript">
        
          $("#<%=l%>").datepicker({dateFormat:"dd-mm-yy",
          dayNamesMin: ["Do", "Lu", "Ma", "Mie", "Jue", "Vie", "Sa"],
          changeYear: true,
          yearRange: "1910:<%= Date.today.year + 10 %>", 
          monthNames: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          monthNamesShort: ["Ene","Feb","Mar","Abr","May","Jun","Jul","Ago","Sep","Oct","Nov","Dic"], 
          navigationAsDateFormat: true,
          nextText: "Sig", 
          prevText: "Ant", 
          showAnim: "explode"
            });

    </script>

<% end %>


















