<h1>Listing documentos</h1>

<table>
  <tr>
    <th>Nro documento</th>
    <th>Nro salida</th>
    <th>Asunto</th>
    <th>Autorizado</th>
    <th>Observacion</th>
    <th>Sigla</th>
    <th>Anio</th>
    <th>Fecha recepcion</th>
    <th>Fecha documento</th>
    <th>Fecha salida</th>
    <th>Tipo documento</th>
    <th>Procedencia</th>
    <th>Nombres y apellidos</th>
    <th>Motivo</th>
    <th>Destinatario</th>
    <th>Iniciado por</th>
    <th>Se encuentra en</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documentos.each do |documento| %>
  <tr>
    <td><%= documento.nro_documento %></td>
    <td><%= documento.nro_salida %></td>
    <td><%= documento.asunto %></td>
    <td><%= documento.autorizado %></td>
    <td><%= documento.observacion %></td>
    <td><%= documento.sigla %></td>
    <td><%= documento.anio %></td>
    <td><%= documento.fecha_recepcion %></td>
    <td><%= documento.fecha_documento %></td>
    <td><%= documento.fecha_salida %></td>
    <td><%= documento.tipo_documento_id %></td>
    <td><%= documento.procedencia %></td>
    <td><%= documento.nombres_y_apellidos %></td>
    <td><%= documento.motivo %></td>
    <td><%= documento.destinatario %></td>
    <td><%= documento.iniciado_por %></td>
    <td><%= documento.se_encuentra_en %></td>
    <td><%= link_to 'Show', documento %></td>
    <td><%= link_to 'Edit', edit_documento_path(documento) %></td>
    <td><%= link_to 'Destroy', documento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Documento', new_documento_path %>
