<style type="text/css">  
  .control-group.success{
  	height: 5px;
  }
  .texto{
  	margin: 10px 10px 10px 10px;
  }
 </style>



<% @documento = Documento.find(params["idDocumento"]) %>

    <p align="center"><%=link_to image_tag("logo.png")%></p>


	<div class="row">
		<div class="span12">
		  <div class="pagination-centered">
		    <b> SUBSECRETARIA DE COORDINACIÓN OPERATIVA </b>
		  </div>
		</div>		    
	</div>
	<div class="row">
		<div class="span12">
		  <div class="pagination-centered">
		    <b> Teléfono: (0280) 4485-954 / 4482341 al 44 </b>
		  </div>
		</div>		    
	</div><hr style="color: #0056b2;" size="2"><hr/>
	<div class="row">
		<div class="span12">
		  <div class="pull-right">
		    <b> <%= Util.fecha_a_es(@documento.fecha_salida) %> </b>
		  </div>
		</div>		    
	</div>
	<div class="row">
		<div class="span12">		 
		    <b>REMITIR A:</b>		    	  
		</div>		    
	</div>
	<div class="row">
		<div class="span12">		    
		    <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @documento.destinatario %> </b>		  
		</div>		    
	</div>
	</br></br>
	<div class="row">
		<div class="span12">		 
		    <b>A LOS EFECTOS DE:</b>		    	  
		</div>		    
	</div>
	<div class="row">
		<div class="span12">		    
		    <b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @documento.motivo %> </b>	  
		</div>		    
	</div>

	</br></br>

	<div id="texto" style="border:1px solid;">
	  <div class="row texto">
		<div class="span12">
		  <b> /.....- <%= @documento.tipo_documento %> -- <%= @documento.anio %> </b>
		</div>		    
	  </div>
	  
	  	<div class="row texto">
		    <div class="span12">		      
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Iniciador: </b> <%= @documento.iniciado_por %>		        
		    </div>
		</div>
		<div class="row texto">
		    <div class="span12">		      
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Localidad: </b> <%= @documento.localidad %>		        
		    </div>
		</div>
		<div class="row texto">
		    <div class="span12">		      
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Contenido / Extracto: </b> <%= @documento.asunto %>		        
		    </div>
		</div>
		<!-- <div class="row texto">
		    <div class="span12">		      
		        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Autorizado: </b> <% if @documento.autorizado == true then %> Si <% else %> No <% end %>		        
		    </div>
		</div> -->
		</br></br>		
	</div></br></br></br>

	<div class="row">
		<div class="span12">		 
		    <b>Observación:</b>&nbsp;&nbsp;<%= @documento.observacion %>		    	  
		</div>		    
	</div>

	</br></br></br></br>

	<div class="pagination-centered">
		Atentamente,
	</div>

	</br></br></br></br></br></br>

	<div>
		<b>Nota N° <%= @documento.sigla %> / <%= @documento.anio %> Subsecretaria de Coordinación Operativa </b>
	</div>



